
@{
    Layout = null;
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
    <title>Registration Page</title>
    <!--Made with love by Mutiullah Samim -->
    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!--Custom styles-->
    <link href="~/assets/css/Registration.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Đăng Ký</h3>




                </div>
                @using (Html.BeginForm("Registration", "Auth"))
                {
                    <div class="card-body">
                        <form method="POST" action="/Auth/ProcessRegistration">
                            <div class="input-group form-group">
                                <div class="tb" @ViewData["Loi1"]>
                                <input type="text" class="form-control" name="TenDN" placeholder="Tên đăng nhập của bạn">


                            </div>
                                <div class="input-group form-group">
                                    <div class="tb" @ViewData["Loi2"]>
                                        <input type="password" class="form-control" name="Matkhau" placeholder="Mật khẩu của bạn">
                                   
                                    </div>
                                    <div class="input-group form-group">
                                        <div class="tb" @ViewData["Loi3"]>
                                            <input type="password" class="form-control" name="Matkhaunhaplai" placeholder=" Nhập lại mật khẩu của bạn">
                                        </div>
                                        <div class="input-group form-group">
                                            <div class="tb" @ViewData["Loi4"]>
                                                <input type="text" class="form-control" name="Dienthoai" placeholder="Số điện thoại">

                                            </div>
                                            <div class="input-group form-group">
                                                <div class="tb" @ViewData["Loi5"]>
                                                    <input type="text" class="form-control" name="Email" placeholder="Email của bạn">

                                                </div>
                                                <div class="input-group form-group gender">
                                                    Giới tính:
                                                    <label>
                                                        <input type="radio" name="gender" value="MALE">
                                                        Nam
                                                    </label>
                                                    <label>
                                                        <input type="radio" name="gender" value="FEMALE">
                                                        Nữ
                                                    </label>
                                                </div>
                                                <div class="input-group form-group birthday">

                                                    Birthday:
                                                    <input type="date" name="birthday">
                                                </div>
                                                <div class="form-group">
                                                    <input type="submit" value="Đăng Ký" class="btn float-right login_btn">
                                                </div>
</form>
                    </div>
                }
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Bạn đã có tài khoản ?<a href="/Auth/Login">Quay lại đăng nhập</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>
